### Importing Libraries

In [1]:
import pandas as pd
import numpy as np

#### 1.1

In [2]:
amazon = pd.read_csv('AMZN.csv')
print(amazon.head())
print(amazon.tail())
print(amazon.describe())
print(amazon.dtypes)

Date Close Price Open Price High Price Low Price  \
0  Oct 24, 2019    1,780.78   1,770.78   1,787.97  1,760.78
1  Oct 23, 2019    1,762.17   1,761.30   1,770.05  1,742.00
2  Oct 22, 2019    1,765.73   1,788.15   1,789.78  1,762.00
3  Oct 21, 2019    1,785.66   1,769.66   1,785.88  1,765.00
4  Oct 18, 2019    1,757.51   1,787.80   1,793.98  1,749.20

  Total Traded Quantity
0                 5.20M
1                 2.19M
2                 2.23M
3                 2.22M
4                 3.37M
             Date Close Price Open Price High Price Low Price  \
498  Oct 31, 2017    1,105.28   1,109.00   1,110.54  1,101.12
499  Oct 30, 2017    1,110.85   1,095.01   1,122.79  1,093.56
500  Oct 27, 2017    1,100.95   1,058.14   1,105.58  1,050.55
501  Oct 26, 2017      972.43     980.33     982.90    968.55
502  Oct 25, 2017      972.91     978.00     984.44    966.24

    Total Traded Quantity
498                 3.48M
499                 6.61M
500                16.57M
501                 5.62M
502                 3.03M
                Date Close Price Open Price High Price Low Price  \
count            503         503        503        503       503
unique           503         496        487        496       498
top     Feb 05, 2018    1,642.81   1,949.00   1,131.75  1,818.00
freq               1           2          3          2         2

       Total Traded Quantity
count                    503
unique                   343
top                    4.86M
freq                       5
Date                     object
Close Price              object
Open Price               object
High Price               object
Low Price                object
Total Traded Quantity    object
dtype: object

#### 1.2

In [3]:
amazon['Close Price'] = amazon['Close Price'].str.replace(",", "").astype(float)
amazon['Total Traded Quantity'] = amazon['Total Traded Quantity'].str.replace("M", "").astype(float)
amazon['Total Traded Quantity'] = amazon['Total Traded Quantity']*1000000
stock = np.array(amazon)
print("Minimum price for last 90 days = {}".format(stock[:90, 1].min()))
print("Maximum price for last 90 days = {}".format(stock[:90, 1].max()))
print("Mean price for last 90 days = {:.2f}".format(stock[:90, 1].mean()))

Minimum price for last 90 days = 1705.51
Maximum price for last 90 days = 2020.99
Mean price for last 90 days = 1837.38

#### 1.3

In [4]:
amazon['Date'] = pd.to_datetime(amazon['Date'])
amazon.info()
print(amazon['Date'][0] - amazon['Date'][502])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   503 non-null    datetime64[ns]
 1   Close Price            503 non-null    float64
 2   Open Price             503 non-null    object
 3   High Price             503 non-null    object
 4   Low Price              503 non-null    object
 5   Total Traded Quantity  503 non-null    float64
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 23.7+ KB
729 days 00:00:00

#### 1.4

In [5]:
def VWAP(df):
    q = df['Total Traded Quantity'].values
    p = df['Close Price'].values
    return df.assign(vwap = (p*q).cumsum()/q.cumsum())
amazon["Month"] = amazon['Date'].dt.month
amazon['Year'] = amazon['Date'].dt.year
amazon = amazon.groupby(['Year', 'Month']).apply(VWAP)
amazon = amazon.sort_values(by=['Date'], ascending=False)
amazon

                     Date  Close Price Open Price High Price Low Price  \
Year Month
2019 10    0   2019-10-24      1780.78   1,770.78   1,787.97  1,760.78
           1   2019-10-23      1762.17   1,761.30   1,770.05  1,742.00
           2   2019-10-22      1765.73   1,788.15   1,789.78  1,762.00
           3   2019-10-21      1785.66   1,769.66   1,785.88  1,765.00
           4   2019-10-18      1757.51   1,787.80   1,793.98  1,749.20
...                   ...          ...        ...        ...       ...
2017 10    498 2017-10-31      1105.28   1,109.00   1,110.54  1,101.12
           499 2017-10-30      1110.85   1,095.01   1,122.79  1,093.56
           500 2017-10-27      1100.95   1,058.14   1,105.58  1,050.55
           501 2017-10-26       972.43     980.33     982.90    968.55
           502 2017-10-25       972.91     978.00     984.44    966.24

                Total Traded Quantity  Month  Year         vwap
Year Month
2019 10    0                5200000.0     10  2019  1780.780000
           1                2190000.0     10  2019  1775.264993
           2                2230000.0     10  2019  1773.054699
           3                2220000.0     10  2019  1775.418193
           4                3370000.0     10  2019  1771.450368
...                               ...    ...   ...          ...
2017 10    498              3480000.0     10  2017  1105.280000
           499              6610000.0     10  2017  1108.928930
           500             16570000.0     10  2017  1103.969782
           501              5620000.0     10  2017  1081.068494
           502              3030000.0     10  2017  1071.787264

[503 rows x 9 columns]

#### 1.5

In [6]:
# days = int(input("Enter no. of days: "))
def calc_average_price(days):
    return stock[:days, 1].mean()
def profit_loss(days):
    return ((stock[days-1, 1] - stock[0, 1])/stock[0, 1])*100
print("Average of 1 week = {:.2f}".format(calc_average_price(7)))
print("Average of 2 week = {:.2f}".format(calc_average_price(14)))
print("Average of 1 month = {:.2f}".format(calc_average_price(30)))
print("Average of 3 month = {:.2f}".format(calc_average_price(91)))
print("Average of 6 month = {:.2f}".format(calc_average_price(182)))
print("Average of 1 year = {:.2f}".format(calc_average_price(365)))
print("Profit/Loss in 1 week = {:.2f}".format(profit_loss(7)))
print("Profit/Loss in 2 week = {:.2f}".format(profit_loss(14)))
print("Profit/Loss in 1 month = {:.2f}".format(profit_loss(30)))
print("Profit/Loss in 3 month = {:.2f}".format(profit_loss(91)))
print("Profit/Loss in 6 month = {:.2f}".format(profit_loss(182)))
print("Profit/Loss in 1 year = {:.2f}".format(profit_loss(365)))

Average of 1 week = 1773.82
Average of 2 week = 1752.35
Average of 1 month = 1761.50
Average of 3 month = 1838.08
Average of 6 month = 1811.39
Average of 1 year = 1772.91
Profit/Loss in 1 week = -0.19
Profit/Loss in 2 week = -2.70
Profit/Loss in 1 month = 3.29
Profit/Loss in 3 month = 6.77
Profit/Loss in 6 month = -7.89
Profit/Loss in 1 year = -11.49

#### 1.6

In [7]:
amazon['Day_Perc_Change'] = amazon['Close Price'].pct_change()*100
amazon['Day_Perc_Change'] = amazon['Day_Perc_Change'].fillna(0)
amazon

                     Date  Close Price Open Price High Price Low Price  \
Year Month
2019 10    0   2019-10-24      1780.78   1,770.78   1,787.97  1,760.78
           1   2019-10-23      1762.17   1,761.30   1,770.05  1,742.00
           2   2019-10-22      1765.73   1,788.15   1,789.78  1,762.00
           3   2019-10-21      1785.66   1,769.66   1,785.88  1,765.00
           4   2019-10-18      1757.51   1,787.80   1,793.98  1,749.20
...                   ...          ...        ...        ...       ...
2017 10    498 2017-10-31      1105.28   1,109.00   1,110.54  1,101.12
           499 2017-10-30      1110.85   1,095.01   1,122.79  1,093.56
           500 2017-10-27      1100.95   1,058.14   1,105.58  1,050.55
           501 2017-10-26       972.43     980.33     982.90    968.55
           502 2017-10-25       972.91     978.00     984.44    966.24

                Total Traded Quantity  Month  Year         vwap  \
Year Month
2019 10    0                5200000.0     10  2019  1780.780000
           1                2190000.0     10  2019  1775.264993
           2                2230000.0     10  2019  1773.054699
           3                2220000.0     10  2019  1775.418193
           4                3370000.0     10  2019  1771.450368
...                               ...    ...   ...          ...
2017 10    498              3480000.0     10  2017  1105.280000
           499              6610000.0     10  2017  1108.928930
           500             16570000.0     10  2017  1103.969782
           501              5620000.0     10  2017  1081.068494
           502              3030000.0     10  2017  1071.787264

                Day_Perc_Change
Year Month
2019 10    0           0.000000
           1          -1.045048
           2           0.202024
           3           1.128712
           4          -1.576448
...                         ...
2017 10    498         0.144970
           499         0.503945
           500        -0.891209
           501       -11.673555
           502         0.049361

[503 rows x 10 columns]

#### 1.7

In [8]:
def trend_label(amazon):
    if amazon['Day_Perc_Change'] <= 0.5 and amazon['Day_Perc_Change'] > -0.5:
        return 'Slight or No change'
    if amazon['Day_Perc_Change'] <= 1 and amazon['Day_Perc_Change'] > 0.5:
        return 'Slight positive'
    if amazon['Day_Perc_Change'] <= -0.5 and amazon['Day_Perc_Change'] > -1:
        return 'Slight negative'
    if amazon['Day_Perc_Change'] <= 3 and amazon['Day_Perc_Change'] > 1:
        return 'Positive'
    if amazon['Day_Perc_Change'] <= -1 and amazon['Day_Perc_Change'] > -3:
        return 'Negative'
    if amazon['Day_Perc_Change'] <= 7 and amazon['Day_Perc_Change'] > 3:
        return 'Among top gainers'
    if amazon['Day_Perc_Change'] <= -3 and amazon['Day_Perc_Change'] > -7:
        return 'Among top losers'
    if amazon['Day_Perc_Change'] > 7:
        return 'Bull run'
    if amazon['Day_Perc_Change'] < -7:
        return 'Bear drop'
    return 'Other'
        
amazon['Trend'] = amazon.apply(lambda amazon: trend_label(amazon), axis=1)
amazon

                     Date  Close Price Open Price High Price Low Price  \
Year Month
2019 10    0   2019-10-24      1780.78   1,770.78   1,787.97  1,760.78
           1   2019-10-23      1762.17   1,761.30   1,770.05  1,742.00
           2   2019-10-22      1765.73   1,788.15   1,789.78  1,762.00
           3   2019-10-21      1785.66   1,769.66   1,785.88  1,765.00
           4   2019-10-18      1757.51   1,787.80   1,793.98  1,749.20
...                   ...          ...        ...        ...       ...
2017 10    498 2017-10-31      1105.28   1,109.00   1,110.54  1,101.12
           499 2017-10-30      1110.85   1,095.01   1,122.79  1,093.56
           500 2017-10-27      1100.95   1,058.14   1,105.58  1,050.55
           501 2017-10-26       972.43     980.33     982.90    968.55
           502 2017-10-25       972.91     978.00     984.44    966.24

                Total Traded Quantity  Month  Year         vwap  \
Year Month
2019 10    0                5200000.0     10  2019  1780.780000
           1                2190000.0     10  2019  1775.264993
           2                2230000.0     10  2019  1773.054699
           3                2220000.0     10  2019  1775.418193
           4                3370000.0     10  2019  1771.450368
...                               ...    ...   ...          ...
2017 10    498              3480000.0     10  2017  1105.280000
           499              6610000.0     10  2017  1108.928930
           500             16570000.0     10  2017  1103.969782
           501              5620000.0     10  2017  1081.068494
           502              3030000.0     10  2017  1071.787264

                Day_Perc_Change                Trend
Year Month
2019 10    0           0.000000  Slight or No change
           1          -1.045048             Negative
           2           0.202024  Slight or No change
           3           1.128712             Positive
           4          -1.576448             Negative
...                         ...                  ...
2017 10    498         0.144970  Slight or No change
           499         0.503945      Slight positive
           500        -0.891209      Slight negative
           501       -11.673555            Bear drop
           502         0.049361  Slight or No change

[503 rows x 11 columns]

#### 1.8

In [9]:
mean_ttq = amazon.groupby(['Trend'])['Total Traded Quantity'].mean()
median_ttq = amazon.groupby(['Trend'])['Total Traded Quantity'].median()
print("Mean of Total Traded Quantity = {}".format(mean_ttq))
print("Median of Total Traded Quantity = {}".format(median_ttq))

Mean of Total Traded Quantity = Trend
Among top gainers      6.445161e+06
Among top losers       7.190000e+06
Bear drop              6.420000e+06
Bull run               1.029000e+07
Negative               4.891727e+06
Positive               5.060746e+06
Slight negative        4.368082e+06
Slight or No change    4.188966e+06
Slight positive        4.620192e+06
Name: Total Traded Quantity, dtype: float64
Median of Total Traded Quantity = Trend
Among top gainers       6020000.0
Among top losers        6515000.0
Bear drop               6420000.0
Bull run               10290000.0
Negative                4385000.0
Positive                4520000.0
Slight negative         3810000.0
Slight or No change     3680000.0
Slight positive         4265000.0
Name: Total Traded Quantity, dtype: float64

#### 1.9

In [92]:
amazon.to_csv('week2.csv')